* {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.align-right{
  text-align: right;
}

body::-webkit-scrollbar {
  width: 0.1px;
}

body::-webkit-scrollbar-track {
  background: orange;
}

body::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  border: 0px solid orange;
}

.btn-primary {
  background-color: #51348b;
  border: 2px solid #51348b;
  font-size: large;
  height: fit-content;
  padding: 15px;
}

.careers {
  border-radius: 5px;
  background-color: transparent;
  color: #ef4138;
  font-size: large;
  padding: 15px;
  text-decoration: none;
  height: fit-content;
  border: 2px solid #ef4138;
}

/* Navbar  */

.navbar {
  padding: 15px;
  /* background-color: white; */
}

nav.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar-brand {
  font-weight: 600;
}

.fit-width-lg {
  width: fit-content;
}

.nav-item {
  padding: 10px;
}

.navbar-collapse {
  flex-basis: 0%;
  display: flex;
}

.navbar-toggler {
  border: none;
  background-color: transparent !important;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.fa-brands:before {
  font-size: x-large;
}

@media only screen and (max-width: 800px) {
  .fit-width-lg {
    width: 100%;
  }
  .navbar-collapse {
    padding: 15px;
    flex-basis: 100% !important;
  }
  .navbar-collapse a {
    text-align: center;
  }
}

/* header */

nav,
header {
  background-color: transparent;
  background-size: cover;
    /* background-color: rgba(255, 255, 255, 0.8); */
  color: #535352 !important;
}

header {
  height: 100vh;
}

header.home {
  height: 100vh;
  background-image: url('../assets/images/home-header.jpg');
}

.home .container-fluid{
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.title,
.contact-title {
  text-transform: uppercase;
  font-size: xx-large;
  text-align: center;
}

.title:after {
  content: "";
  display: block;
  height: 3px;
  width: 30%;
  background-color: #535352;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 500px) {
  .title {
    font-size: 19px;
  }
  .lead {
    font-size: 15px;
  }
}

/* features */

.profile,
#about {
  background-color: #535352;
  background-image: url("../assets/images/535352.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#features .card {
  background-color: rgb(245, 245, 245);
  border: none;
}

#features h2,
.profile h2 {
  text-align: center;
  font-size: x-large;
  font-weight: 600;
  /* color: white; */
}

#features .lead {
  /* color: white; */
  font-size: medium;
  text-align: center;
}

#features .feature {
  text-align: center;
  padding: 15px 15px 45px 15px;
}

#features .fa:before,
#features .far:before {
  font-size: 3rem;
  /* color: #ef4138; */
}

#features p {
  text-align: center;
  font-size: medium;
  font-weight: 400;
  letter-spacing: 0px;
}

#features p strong {
  font-weight: 600 !important;
}

/* Profile */

.profile .container .row {
  background-color: rgb(245, 245, 245);
}

.profile .img-fluid {
  height: 100%;
  width: 100%;
}

.profile h3 {
  font-weight: 400;
  font-size: xx-large;
  line-height: 2.67rem;
}

.profile p {
  font-weight: 200;
  font-size: large;
  line-height: 2rem;
}

.profile a {
  color: black;
  font-size: large;
  font-style: italic;
}

/* About Us */

#about h2 {
  font-size: x-large;
  font-weight: 400;
  text-align: center;
}

#about p {
  font-weight: 100;
  font-size: large;
}

#about .detail {
  background-color: white;
  border-radius: 5px;
}

.border-right {
  border-right: 1px solid lightgray;
}

#about h3 {
  margin: auto;
  font-size: large;
  font-weight: 400;
}

@media only screen and (max-width: 500px) {
  .border-right {
    border-right: none;
  }

  #about h3 {
    margin-top: 0.5rem;
  }
}

/* Contact */

.contact a {
  text-decoration: none;
}

.map {
  border: 2px solid grey;
  width: fit-content;
  height: fit-content;
  display: flex;
}

/* Products */

.products {
  background-image: none;
  background-color: white;
}

.products h3{
  text-transform: uppercase;
}

/* Footer */

footer * {
  color: #535352;
}

footer .social-media {
  text-align: center;
}

footer .social-media *:before {
  font-size: xx-large;
}

footer h5 {
  font-size: large;
  text-align: center;
}

footer p {
  text-align: center;
}

.copyright {
  font-size: small;
}

.modal.fade.show{
  display: flex!important;
}

.modal-dialog{
  width: fit-content;
  max-width: fit-content;
}

li{
  text-transform: capitalize;
}

.goog-te-gadget-simple{
  padding: 2px 8px!important;
}

.img-fluid.border{
  border: 1px solid grey!important;
}

.navbar-logo{
  height: 7vh;
}